/*home page and template for other pages*/
html,body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow-y: auto;
    background-color: #white;
}
main{
    background: white;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 60px 0px 81px 0px;
    padding: 40px 16px 24px 16px;
    height: auto;
    width: auto;
    overflow-x: hidden;
}
/*navigation menu*/
.navbar{
    background-color: #cacaca;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 300;
    display: inline-block;
    list-style-type: none;     
    padding: 8px;
    position: fixed;
    width: 100%;
    z-index: 98;
    background: sticky;
    overflow: hidden;
    height:44px
}
.navbar a{
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 8px 8px;
}
.navbarIcon{
    float: left;
    height: 36px;
    cursor: pointer;
}
a.navbarButton-left{
    padding-top: 14px;
}
.navbar a:hover{
    color: #333333;
}
.navbar a.active{
    font-weight: bold;
    color: #333333;
}
.navbar input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 6px;
    margin-right: 24px;
    font-size: 17px;
    border-radius: 5px;
}   
/*grid for home, projects, and research pages*/
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    grid-gap: 1.5rem;
    position: relative;
    text-align: center;
    align-items: center;
    justify-items: center;
    max-width: 100%;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding: 0px 16px 25px 16px;
}
/*home page grid boxes*/
.boxAboutMe{
    max-width: 390.5px;
    height: 400px;
    z-index: 97;
    overflow: auto;
}
.boxPortrait{
    padding-left: 50px;
    overflow: hidden;
}
img.portraitMe{
    z-index: 96;
}
h1.aboutMeTitle{
    padding-top: 40px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 32px;
    font-weight: 400;
}
p.aboutMeLocation{
    font-size: 26px;
    font-weight: 300;
    padding: 20px 8px;
}
p.aboutMeBlurb{
    font-size: 17px;
    padding-top: 30px;
    font-weight: 300;
    padding: 20px 16px;
}
/*blog articles*/
.gridArticles{
    display: grid;
    padding: 0px 16px 40px 16px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    align-items: center;
    justify-items: center;
    height: auto;
    overflow: auto;
    max-width: 1200px;
    grid-gap: 1rem;
}
article{
    height: 100%;
    width: 100%;
    margin: 20px 8px;
    overflow: auto;
    max-width: 800px;
    border-radius: 5px;
    z-index: 97;
    position: relative;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    border: 1px solid #cacaca;
}
.post{
    padding: 16px;
    text-align: left;
}
h1.blogTitle{
    padding-bottom: 8px;
    font-size: 32px;
}
h1.postTitle{
    font-size: 26px;
    padding-left: 20px;
    padding-bottom: 8px;
    font-weight: 300;
}
p.postDate{
    font-size: 17px;
    padding-left: 20px;
    font-weight: 300;
    line-height: 1.5em;
}
p.postAuthor{
    font-size: 17px;
    padding-left: 20px;
    padding-bottom: 8px;
    font-weight: 300;
    line-height: 1.5em;
}
p.postContent{
    font-size: 14px;
    padding: 8px 20px;
    font-weight: 300;
    line-height: 1.5em;
}
/*footer menu*/
footer{
    background-color:  #cacaca;
    font-size: 17px;
    height: 65px;
    list-style-type: none;     
    padding: 8px 49px 8px 49px;
    width: auto;
    color: #000000;
    position: relative;
    margin-top: -50px;
    clear: both;
    z-index: 98;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li a{
    float: left;
    display: inline-block;
    opacity: 1;
    padding: 13.5px 8px 13.5px 8px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    overflow: hidden;
    font-weight: 300;
}
.footnotes{
    font-size: 10px;
    padding: 13.5px 57px 21.5px 8px;
    position: absolute;
    bottom: 0;
}
a:hover{
    color: #333333;
}
li a.active{
    font-weight: bold;
    color: #333333;
}
/*Grid style specific for projects and research portfolio pages*/
.containerFluid{
    padding: 0px 16px 0px 16px;
    margin: auto;
    display: block;
    overflow-y: auto;
    min-height: 1000px;
    width: auto;
}
.imgthumbProject{
    height: 300px;
    width: 300px;
}
h1.gridTitle{
    padding: 0px 16px 16px 16px;
    font-size: 32px;
    text-align: center;
}
h2.gridSubTitle{
    padding: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
h3.titleProject{
    padding: 8px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5em;
}
p.descrProjectHeader{
    padding: 0px 8px 8px 8px;
    font-size: 16px;
    line-height: 1.5em;
}
p.descrProject{
    padding: 8px;
    font-size: 14px;
    line-height: 1.5em;
}
p.descrProjectFooter{
    padding: 8px;
    font-size: 12px;
    font-style: italic;
    line-height: 1.5em;
}
.imgthumbResearch{
    height: 300px;
    width: 300px;
}
h3.titleResearch{
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
p.descrResearchHeader{
    padding: 8px;
    font-size: 16px;
    line-height: 1.5em;
}
p.descrResearch{
    padding: 8px;
    font-size: 14px;
    line-height: 1.5em;
}
p.descrResearchFooter{
    padding: 8px;
    font-size: 12px;
    font-style: italic;
    line-height: 1.5em;
}
h3.titleLibrary{
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
p.descrLibraryHeader{
    padding: 8px;
    font-size: 16px;
    line-height: 1.5em;
}
p.descrLibrary{
    padding: 8px;
    font-size: 14px;
    line-height: 1.5em;
}