/*home page and template for other pages*/
html,body {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow-y: auto;
    background-color: #949494;
}
main{
    background: whitesmoke;
    color: DarkSlateGray;
    font-family: arial,sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 60px 0px 97px 0px;
    padding: 16px;
}
.navbar{
    background-color: #949494;
    font-family: arial,sans-serif;
    font-size: 17px;
    font-weight: 300;
    display: inline-block;
    list-style-type: none;     
    padding: 8px;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: auto;
    z-index:98;
    background: sticky;
    overflow: hidden;
}
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px 8px;
}
.navbarIcon{
    float: left;
    height: 36px;
    cursor: pointer;
}
a.navbarButton-left{
    padding-top: 14px;
}
.navbar a:hover{
    color: rgb(70, 70, 70);
}
.navbar a.active{
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 6px;
    margin-right: 24px;
    font-size: 17px;
    border-radius: 5px;
}   
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 80px 25px 25px 25px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-items: center;
    max-width: 100%;
    height: auto;
}
.boxAboutMe{
    max-width: 390.5px;
    height: 400px;
    background-color: #dfdfdf;
    border-radius: 5px;
    z-index: 97;
    overflow: auto;
}
.boxPortrait{
    padding-right: 20px;
}
img.portraitMe{
    z-index: 96;
}
.gridArticles{
    display: grid;
    grid-template-rows: ;
    padding: 40px 25px 40px 25px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-items: center;
    max-width: 100%;
    height: auto;
    overflow: auto;
}
h1.aboutMeTitle{
    padding-top: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
p.aboutMeLocation{
    font-size: 26px;
    font-weight: 300;
    padding: 20px 8px;
}
p.aboutMeBlurb{
    font-size: 17px;
    padding-top: 30px;
    font-weight: 300;
    padding: 20px 8px;
}
article{
    height: 100%;
    width: 100%;
    margin: 20px 8px;
    overflow: auto;
    max-width: 800px;
    background-color: #dfdfdf;
    border-radius: 5px;
    z-index: 97;
    position: relative;
    align-items: center;
    justify-items: center;
}
.post{
    padding: 16px 8px;
    text-align: left;
}
h1.blogTitle{
    padding-bottom: 8px;
}
h1.postTitle{
    font-size: 26px;
    font-weight: 500;
    padding-left: 20px;
    padding-bottom: 8px;
}
p.postDate{
    font-size: 17px;
    font-weight: 400;
    padding-left: 30px;
}
p.postAuthor{
    font-size: 17px;
    font-weight: 400;
    padding-left: 30px;
    padding-bottom: 8px;
}
p.postContent{
    font-size: 14px;
    font-weight: 300;
    padding: 8px 20px;
}
footer{
    background-color:  #949494;
    font-family: arial,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 81px;
    list-style-type: none;     
    padding: 8px 8px 8px 49px;
    width: auto;
    color: white;
    position: relative;
    margin-top: -97px;
    clear: both;
    z-index: 98;
}
li a{
    float: left;
    display: inline-block;
    font-family: arial,sans-serif;
    opacity: 1;
    padding: 13.5px 8px 13.5px 8px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.footnotes{
    font-size: 10px;
    padding: 13.5px 57px 21.5px 8px;
    position: absolute;
    bottom: 0;
}
a:hover{
    color: DarkSlateGray;
}
li a.active{
    font-weight: bold;
    color: DarkSlateGray;
}
/*Grid for projects and research portfolio pages from @andybarefoot*/
.containerFluid{
    padding: 16px;
    margin: auto;
    display: block;
}
.contentColumn{
    padding-top: 40px;
}
.contentGrid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(autofill, minmax(250px, 1fr));
    grid-auto-rows: 40px;
}
.project{
    grid-row-end: span 1;
 }
